
.ant-form {
    .ant-row {
        .ant-col {
            margin: auto;

            .ant-btn {
                margin-left: 15px;
            }
        }
    }
}

.fibonacci-result {
    font-size: 20px;
}